In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import gc
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_pickle('data.pkl')

In [3]:
data.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,wday,month,...,item_state_sold,item_store_sold,item_store_wday_sold,sold_lag_1,sold_lag_2,sold_lag_6,sold_lag_7,sold_lag_12,sold_lag_14,sold_lag_30
914700,14370,1437,3,1,0,0,31,0,3,2,...,0.335938,0.321533,0.284668,0.0,0.0,0.0,0.0,0.0,0.0,0.0
914701,14380,1438,3,1,0,0,31,0,3,2,...,0.204346,0.253906,0.206421,0.0,0.0,0.0,0.0,0.0,0.0,0.0
914702,14390,1439,3,1,0,0,31,0,3,2,...,0.098938,0.156982,0.103210,0.0,0.0,0.0,0.0,0.0,0.0,0.0
914703,14400,1440,3,1,0,0,31,0,3,2,...,2.935547,1.694336,1.387695,0.0,0.0,0.0,0.0,0.0,0.0,0.0
914704,14410,1441,3,1,0,0,31,0,3,2,...,0.968750,0.958984,0.790039,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
data.columns.tolist()

['id',
 'item_id',
 'dept_id',
 'cat_id',
 'store_id',
 'state_id',
 'd',
 'sold',
 'wday',
 'month',
 'year',
 'event_name_1',
 'event_type_1',
 'snap_CA',
 'snap_TX',
 'snap_WI',
 'sell_price',
 'state_mean_sold',
 'store_mean_sold',
 'cat_mean_sold',
 'dept_mean_sold',
 'state_cat_mean_sold',
 'state_dept_mean_sold',
 'store_cat_mean_sold',
 'cat_dept_mean_sold',
 'item_sold',
 'item_state_sold',
 'item_store_sold',
 'item_store_wday_sold',
 'sold_lag_1',
 'sold_lag_2',
 'sold_lag_6',
 'sold_lag_7',
 'sold_lag_12',
 'sold_lag_14',
 'sold_lag_30']

In [4]:
df= data[data['store_id']==0]
X_train,y_train=df[df['d']<1914].drop('sold',axis=1),df[df['d']<1914]['sold']
X_valid,y_valid=df[(df['d']>=1914)&(df['d']<1942)].drop('sold',axis=1),df[(df['d']>=1914)&(df['d']<1942)]['sold']